body {
  background-color: #DADADA;
}
body > .grid {
  height: 100%
}
.image {
  margin-top: -50px;
}
.column {
  max-width: 450px;
}
#output {
  width: 100%;
  max-height: 30px;
  font-size: 24px;
  text-align: center;
}
