div{
  font-family: arial;
  text-align: center;
  }

h1{
  font-size: 36px;
  color : black;
  text-align: center;
  }

nav{
  width: 1000px;
  margin: auto;
  background-color: lightblue;
  text-align: center;
  }

#explain{
	font-size:24px;
  color: black; 
}
.menu{
  font-family: arial;
  margin-left : 60px;
  font-size: 24px;
  color: white;
  }

#menu_first{
	margin-left: 0px;
}  

.area{
  display: inline-block;
  position: relative;
  background-color: red;
  width: 60px;
  height: 60px;
}

#area_container{
	position: static;
}

#area_1{
	right: 50px;
	bottom: 220px;
}  

#area_2{
	right: 180px;
	bottom: 440px;
}

#area_3{
	left: 0px;
	bottom: 360px;
}

#area_4{
	left: 80px;
	bottom: 160px;
}

#intro_container{
	position: relative;
	bottom: 100px;
	text-align: center;
}

.intro{
	display: inline-block;
	position: relative;
  background-color: rgba(1,1,1,0);
  width: 600px;
  height: 200px;
	
	text-align: left;
}

#empty_intro{
	border: 3px solid green;
}

#intro_1{
}

#intro_2{
}

#intro_3{
}

#intro_4{
}

.pic{
	position:absolute;
}

.word{
	text-align:left;
	margin-left: 250px;
	
	font-family:Microsoft JhengHei;
	font-size: 24px;
}
#foot_container{
	position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: gray;
  width: 100%;
} 

#foot{
	color: white;
	margin-top: 20px;
}
a{
  text-decoration: none;
  }
body{
	margin-bottom:100px;
}	
html {
    overflow-y: scroll;
}
